<nav class="sub-menu">
    <li><a id="sub-menu-item-1" routerLink="/home/search"
            routerLinkActive="active">{{'HOME_MENU.MANAGEMENT'|translate}}</a></li>
    <li><a id="sub-menu-item-2" routerLink="/home/message"
            routerLinkActive="active">{{'MESSAGE.MESSAGES' | translate}}</a></li>
    <li><a id="sub-menu-item-3" routerLink="/home/sales"
            routerLinkActive="active">{{'SALES_MANAGEMENT.TITLE' | translate}}</a></li>
    <li><a id="sub-menu-item-4" routerLink="/home/opening-day"
            routerLinkActive="active">{{'OPENING_DAY.OPENING_DAY_MENU_TITLE' | translate}}</a></li>
    <li><a id="sub-menu-item-5" routerLink="/home/branches"
            routerLinkActive="active">{{'BRANCHES.BRANCH_LIST_MENU_TITLE' | translate}}</a></li>
    <li><a id="sub-menu-item-6" routerLink="/home/external-vendors"
            routerLinkActive="active">{{'EXTERNAL_VENDOR.EXTERNAL_VENDOR_MENU_TITLE' | translate}}</a></li>
    <li>
        <a id="sub-menu-item-5" routerLink="/home/delivery-profile-management" routerLinkActive="active">
            {{'DELIVERY_PROFILE.DELIVERY_PROFILE' | translate}}
        </a>
    </li>
</nav>