<form id="login-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <backoffice-messenger *ngIf="resultMessage" [data]="resultMessage"></backoffice-messenger>
    <fieldset>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="{{'LOGIN.LABEL.YOUR_EMAIL'|translate}}"
                formControlName="email">
        </div>
        <div class="input-group submit">
            <button type="submit" class="btn btn-primary btn-block bg-brand">
                <strong>{{'LOGIN.LABEL.GET_NEW_PASSWORD' | translate}}</strong>
            </button>
        </div>
    </fieldset>
</form>