<ul class="nav shopping-basket-stepper-container" [class.order]="orderRla.isActive">
    <li class="nav-item shopping-basket-stepper" [routerLinkActive]="['active']">
        <div class="shopping-basket-stepper-inner" #innerCart>
            <a class="nav-link shopping-basket-stepper-link" [routerLink]="['cart']" queryParamsHandling="merge">
                {{'SHOPPING_BASKET.SHOPPING' | translate}}
            </a>
            <svg width="26" height="26" viewBox="0 0 72 72" class="shopping-basket-stepper-icon">
                <path
                    d="m 35.76957,4.6452616 c -0.533294,0.00576 -1.061552,0.1994111 -1.463356,0.5631574 l -15.855865,23.202509 -16.4851509,0 c -1.46731477,0.797913 -2.18967867,1.971353 -1.79186422,3.852508 L 10.096849,64.066893 c 0.269196,1.436734 1.563179,2.76454 2.977907,3.225357 l 45.869592,0 c 1.395356,-0.583926 2.341756,-1.622672 2.977908,-3.225357 l 9.998176,-31.803457 c 0.241112,-1.670173 -0.197452,-3.109167 -1.779065,-3.762915 l -16.572611,0 L 37.26279,5.208419 C 36.841333,4.8216325 36.302865,4.6395016 35.76957,4.6452616 Z M 35.8293,14.076014 46.042927,28.500521 25.884454,28.410931 35.8293,14.076017 Z" />
            </svg>
        </div>
        <div class="shopping-basket-stepper-process-bar" [style.left.px]="innerCart.clientWidth / 2"></div>
    </li>
    <li class="nav-item shopping-basket-stepper" [routerLinkActive]="['active']">
        <div class="shopping-basket-stepper-inner">
            <a class="nav-link shopping-basket-stepper-link" [routerLink]="['order']" routerLinkActive #orderRla="routerLinkActive" queryParamsHandling="merge">
                {{'SHOPPING_BASKET.ORDER' | translate}}
            </a>
            <i class="fa fa-check-circle fa-2x shopping-basket-stepper-icon"></i>
        </div>
        <div class="shopping-basket-stepper-process-bar" [style.left]="0"></div>
    </li>
    <li class="nav-item shopping-basket-stepper" [routerLinkActive]="['active']" style="pointer-events: none;">
        <div class="shopping-basket-stepper-inner" #innerCheckout>
            <a class="nav-link shopping-basket-stepper-link" [routerLink]="['checkout']" queryParamsHandling="merge">
                {{'SHOPPING_BASKET.CONFIRMATION' | translate}}
            </a>
            <i class="fa fa-credit-card-alt fa-2x shopping-basket-stepper-icon"></i>
        </div>
        <div class="shopping-basket-stepper-process-bar" [style.right.px]="innerCheckout.clientWidth / 2"></div>
    </li>
</ul>
<connect-system-message [subArea]="'SHOPPING_BASKET_PAGE_1'"></connect-system-message>
<router-outlet></router-outlet>