.search-history-filter {
    .fa-caret-left,
    .fa-caret-right {
        height: 20px;
        font-size: 30px;
    }

    .fa-caret-left {
        padding-right: 5px;
    }

    .fa-caret-right {
        padding-left: 5px;
    }

    .date-range-option {
        min-width: 190px;
    }

    .label {
        display: block;
    }
    .date-picker {
        position: absolute;
        top: 0;
        width: 150px;
        height: 33px;

        input {
            height: 100%;
        }
    }
    .ng-select-container {
        height: 2.5rem !important;
        min-height: 2.5rem !important;
    }
    .input-group-text {
        height: 30px;
    }
}

.ngx-pagination {
    .current div {
        padding: 0.75rem 0.25rem !important;
    }

    li a {
        padding: 0.75rem 0.25rem !important;
    }
}