$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/menu-icon-fonts" !default;

$sag-15: "\e900";
$sag-106: "\e901";
$sag-auto-service: "\e902";
$sag-badge: "\e903";
$sag-battery: "\e904";
$sag-brake: "\e905";
$sag-car: "\e906";
$sag-info: "\e907";
$sag-liftcar: "\e908";
$sag-motobike: "\e909";
$sag-offers: "\e90a";
$sag-roofbox: "\e90b";
$sag-rtf: "\e90c";
$sag-special-offer: "\e90d";
$sag-spray-bottle: "\e90e";
$sag-tools: "\e90f";
$sag-truck: "\e910";
$sag-tyre: "\e911";
$cz-battery: "\e912";
$cz-uni-cat: "\e913";
$cz-sag-info: "\e914";
$cz-import:  "\e915";
$cz-default:  "\e916";
$cz-bulb:  "\e917";
$sag-outletbox: "\e918";
$sag-universal-part: "\e919";
$cz-webcat:  "\e91a";
$sag-rent-tools: "\e91b";
$sag-ch-motorbike: "\e91c";
$sag-ch-lv: "\e91d";
$sag-cz-motorbike: "\e91e";
$sag-cz-lv: "\e91f";
