.digi-invoice-container {
    .continue-btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .re-send-code {
        float: right;
    }
}