.default-brand {
    tr {
        background-color: #bae8bb;
    }

    .brand-name {
        max-width: 30%;
        width: 30%;
    }

    .margin-action {
        min-width: 65px !important;
    }
}