<form class="mt-3 border-bottom pb-3 mb-4" novalidate [formGroup]="passwordForm">
    <h5 class="card-title font-weight-bold">{{'SETTINGS.PROFILE.PASSWORD_CHANGE.TITLE'| translate}}</h5>
    <div class="row pb-3">
        <div class="form-group col-4">
            <label>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.NEW_PASSWORD'| translate}}*</label>
            <input formControlName="newPassword" placeholder="*******" type="password" class="form-control">
            <connect-control-messages [control]="newPassword"></connect-control-messages>
        </div>
        <div class="form-group col-4">
            <label>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.CONFIRM_PASSWORD'| translate}}*</label>
            <input formControlName="confirmPassword" placeholder="*******" type="password" class="form-control">
            <connect-control-messages [control]="passwordForm"></connect-control-messages>
        </div>
    </div>
    <sag-common-message *ngIf="result" [data]="result"></sag-common-message>
    <p class="text-center">
        <sag-common-save-button [loading]="isUpdating" [disabled]="passwordForm.invalid" (save)="onSubmit()">
        </sag-common-save-button>
    </p>
</form>