<ng-container *ngIf="filterTitle && filterItems">
    <div class="filter-title text-truncate" (click)="isCollapsed = !isCollapsed">
        <strong class="text-truncate">{{ 'ARTICLE_FILTER.' + filterTitle | uppercase | translate }}</strong>
        <span>
            <i class="fa" [ngClass]="{'fa-caret-up' : !isCollapsed,'fa-caret-down' : isCollapsed}"></i>
        </span>
    </div>
    <ul class="list-group" [class.collapsed]="isCollapsed">
        <div class="list-content">
            <li class="list-group-item" *ngFor="let data of filterItems">
                <label class="checkbox">
                    <input type="checkbox" [checked]="data.isChecked" class="mr-1"
                        (change)="changeFilterValue($event, data)">
                    <span>{{ data.name }}</span>
                </label>
            </li>
        </div>
    </ul>
</ng-container>