<div class="card sag-card">
    <div class="card-header">
        <h2 class="color-primary">{{'SEARCH.VEHICLE_HISTORY_TITLE' | translate}}
            <a href="javascript:void(0);" class="btn-link ml-1" (click)="showVehicleHistory()">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </a>
        </h2>
    </div>
    <div class="card-body border-0 p-0">
        <sag-search-vehicle-history [custNr]="custNr" [vehicleClass]="vehicleClass"
            (selectedVehicleHistoryEmitter)="viewSelectedVehicleHistory($event)">
        </sag-search-vehicle-history>
    </div>
</div>