<div class="mini-basket">
    <a href="javascript:void(0)" class="mini-basket-icon" [popover]="basketRef" #pop="bs-popover"
       (click)="showMiniBasket(pop)" containerClass="mini-basket-popover" [outsideClick]="false"
       placement="bottom" triggers="" (onShown)="onShownPopover()" (onHidden)="onHiddenPopover()"
       data-automation="mini-basket-cart">
        <svg width="72" height="72" viewBox="0 0 72 72">
            <path
                  d="m 35.76957,4.6452616 c -0.533294,0.00576 -1.061552,0.1994111 -1.463356,0.5631574 l -15.855865,23.202509 -16.4851509,0 c -1.46731477,0.797913 -2.18967867,1.971353 -1.79186422,3.852508 L 10.096849,64.066893 c 0.269196,1.436734 1.563179,2.76454 2.977907,3.225357 l 45.869592,0 c 1.395356,-0.583926 2.341756,-1.622672 2.977908,-3.225357 l 9.998176,-31.803457 c 0.241112,-1.670173 -0.197452,-3.109167 -1.779065,-3.762915 l -16.572611,0 L 37.26279,5.208419 C 36.841333,4.8216325 36.302865,4.6395016 35.76957,4.6452616 Z M 35.8293,14.076014 46.042927,28.500521 25.884454,28.410931 35.8293,14.076017 Z" />
        </svg>
        <ng-container *ngIf="cartQuantity === null; else badgeRef">
            <ng-container *ngTemplateOutlet="loadingRef"></ng-container>
        </ng-container>
        <ng-template #badgeRef>
            <span class="badge-number" data-automation="mini-basket-quantity">{{cartQuantity <= 99 ? cartQuantity
                   : '99+' }}</span>
        </ng-template>
    </a>
    <div class="d-flex flex-column">
        <a [class.disabled]="!cartQuantity" [routerLink]="['/','shopping-basket','cart']"
           data-automation="mini-basket-name" class="mini-basket-link">
            {{'HEADER.SHOPPING_BASKET' | translate}}
        </a>
        <ng-container *ngIf="!isSB && (!salesUser || isSalesOnBeHalf) && !isFinalUserRole">
            <a href="javascript:void(0)" class="mini-basket-link"
                (click)="showMiniBasket(pop, true)" data-automation="mini-basket-delivery">
                <span [class.text-primary]="defaultDeliveryType !== currentDeliveryType"
                    [class.text-default]="defaultDeliveryType === currentDeliveryType">
                    {{ deliveryTypeDisplay }}
                </span>
            </a>
        </ng-container>
    </div>
</div>
<ng-template #loadingRef>
    <div class="spinner ex-sm">
        <div>
            <div class="loader"></div>
        </div>
    </div>
</ng-template>
<ng-template #basketRef>
    <div class="nav justify-content-between mini-basket-header" data-automation="mini-basket-cart-header">
        <div>{{'SHOPPING_BASKET.SHOPPING'| translate}}</div>
        <div class="d-flex align-items-center">
            <span>{{cartQuantity}}</span>
            <span class="ml-1 mr-3 mini-basket-header--sub">{{'SHOPPING_BASKET.ITEM'| translate}}</span>
            <a href="javascript:void(0)" class="mini-basket-header--close">
                <i class="fa fa-times-circle" (click)="pop.hide()"></i>
            </a>
        </div>
    </div>
    <div #miniBasketContainer class="mini-basket-container" data-automation="mini-basket-cart-body">
        <ng-container *ngIf="errorMessage !== 'SHOPPING_BASKET.BRANCH_REQUIRED'">
            <sag-common-message customClass="rounded-0" message="{{errorMessage}}" type="ERROR" *ngIf="errorMessage">
            </sag-common-message>
        </ng-container>

        <ng-container *ngIf="miniBasket && isShown;else loadingMiniBasketRef">
            <ng-container *ngFor="let item of miniBasket.items; let i = index">
                <connect-header-shopping-basket-item [basketItem]="item" [index]="i"
                                                     [isAnimation]="i === (miniBasket.items.length - 1) && isEnabledLastItemAnimation">
                </connect-header-shopping-basket-item>
                <ng-container *ngIf="!!item.attachedCartItems">
                    <connect-header-shopping-basket-item *ngFor="let attachedItem of item.attachedCartItems; let j = index"
                                                         [basketItem]="attachedItem" [index]="i + '' + j"
                                                         [disabled]="true">
                    </connect-header-shopping-basket-item>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #loadingMiniBasketRef>
            <div class="mini-basket-content mini-basket-content--loading" *ngIf="miniBasketLoading">
                <div class="spinner">
                    <div>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="mini-basket-content mini-basket-content--total">
            <div class="row mini-basket-content--item">
                <div class="col-5">
                    <strong>{{'SHOPPING_BASKET.TOTAL_INCLUDE_VAT'| translate}}</strong>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-3 text-right"></div>
                        <div class="col-6 text-right pr-1">
                            <strong>{{totalPrice | sagCurrency}}</strong>
                        </div>
                        <div class="col-3 text-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-basket-content mini-basket-content--credit-limit credit-limit-panel"
             *ngIf="creditInfo?.creditMessageQuickView as creditWarningMessage">
            <div class="message-title mb-2">
                {{'SHOPPING_BASKET.CREDIT_LIMIT' | translate}}
            </div>
            <div class="message-content">
                <div [innerHTML]="creditWarningMessage.message | translate: creditWarningMessage.messageParams"></div>
            </div>
        </div>

        <ng-container *ngIf="errorMessage === 'SHOPPING_BASKET.BRANCH_REQUIRED'">
            <sag-common-message customClass="rounded-0" message="{{errorMessage}}" type="ERROR" *ngIf="errorMessage">
            </sag-common-message>
        </ng-container>

        <ng-container *ngIf="!isSB && (!salesUser || isSalesOnBeHalf) && !isFinalUserRole">
            <div class="mini-basket-content mini-basket-content--condition condition-panel mt-2" id="miniBasketCondition">
                <div class="row mt-0">
                    <div class="col-12 mb-2 d-flex align-items-center justify-content-between">
                        <strong>{{ 'CONDITION.DELIVERY_TYPE.TITLE' | translate }}</strong>
                        <connect-tour-plan-info [containerClass]="'tour-time-popover'"></connect-tour-plan-info>
                    </div>
                    <div class="col-12">
                        <div class="switch-button">
                            <ng-container *ngFor="let method of deliveryTypes">
                                <a href="javascript:void(0)" (click)="onChangeDelivery(method.descCode)"
                                    [class.active]="currentDeliveryType === method.descCode"
                                    [class.only-one]="deliveryTypes?.length === 1"
                                    class="button">
                                    <span>{{'ARTICLE.' + method.descCode | translate}}</span>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="currentDeliveryType === DELIVERY_TYPE.PICKUP && branchesForPickup && branchesForPickup.length > 0">
                    <div class="row mt-2">
                        <div class="col-12 mb-2">
                            <strong>{{'CONDITION.BRANCH_PICKUP' | translate}}</strong>
                        </div>
                        <div class="col-12">
                            <ng-select
                                [searchable]="branchesForPickup?.length > 10"
                                [ngModel]="errorMessage == 'SHOPPING_BASKET.BRANCH_REQUIRED' ? null : shoppingBasketContext?.pickupBranch?.branchId"
                                (ngModelChange)="updateBranch($event)"
                                [items]="branchesForPickup"
                                [clearable]="false"
                                [searchFn]="searchBrand"
                                bindValue="branchId">
                                <ng-template ng-label-tmp let-item="item">
                                    <ng-container *ngIf="item.branchId">
                                        {{ item.branchId}} - {{ item.branchName}}
                                    </ng-container>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    {{ item.branchId}} - {{ item.branchName}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="deliveryAddress && deliveryAddress.length > 0">
                    <div class="row mt-2">
                        <div class="col-12 mb-2">
                            <strong>{{'CONDITION.DELIVERY_ADDRESS' | translate}}</strong>
                        </div>
                        <div class="col-12" *ngIf="deliveryAddress.length === 1; else addressSelectionRef">
                            <span>{{deliveryAddress[0]?.fullAddress}}</span>
                        </div>
                        <ng-template #addressSelectionRef>
                            <div class="col-12" *ngIf="deliveryAddress.length > 0">
                                <ng-select
                                    [searchable]="deliveryAddress?.length > 10"
                                    [ngModel]="shoppingBasketContext?.deliveryAddress?.id"
                                    (ngModelChange)="updateDeliveryAddress($event)"
                                    [items]="deliveryAddress"
                                    [clearable]="false"
                                    bindValue="id">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{ item?.fullAddress}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item?.fullAddress }}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <div class="mini-basket-content mini-basket-content--ref-text" *ngIf="!isSB">
            <label>{{'SHOPPING_BASKET.REFERENCE' | translate}}</label>
            <connect-customer-ref-text [disabled]="!cartQuantity || miniBasketLoading" [keyStore]="refKey">
            </connect-customer-ref-text>
        </div>
        <div class="mini-basket-content mini-basket-content--control" [class.dms]="!!dmsInfo">
            <a class="btn-link" [class.disabled]="!cartQuantity || miniBasketLoading"
               data-automation="mini-basket-link-shopping-basket" [routerLink]="['/','shopping-basket','cart']">
                <i id="icon-miniBasket" class="fa fa-chevron-right" aria-hidden="true"></i>
                <span>{{'SHOPPING_BASKET.SHOPPING'| translate}}</span>
            </a>
            <ng-container *ngIf="!isSB">
                <connect-action *ngIf="!!dmsInfo" icon="fa-chevron-right"
                                [disabled]="!cartQuantity || miniBasketLoading" text="DMS.EXPORT.TAKE"
                                (isClicked)="processDmsOffer($event)">
                </connect-action>
                <connect-action id="link-exportOci-bottom" *ngIf="isOciFlow"
                                [disabled]="!shoppingBasketContext?.billingAddress || !cartQuantity || miniBasketLoading"
                                icon="fa-chevron-right" text="OCI.TRANSFER" (isClicked)="exportOci($event)">
                </connect-action>
                <connect-action icon="hide" text="SEARCH_RESULT.NEXT" *ngIf="isSalesOnBeHalf" customClass="btn btn-primary highlight"
                                [disabled]="!cartQuantity || miniBasketLoading || isDemoCustomer || !creditInfo.creditValid || isInvalidPersonalNumber || !allowOrderReview || hasItemNotAllowToAddToShoppingCart"
                                (isClicked)="gotoOrder($event)">
                </connect-action>
                <connect-action icon="hide" text="SEARCH_RESULT.NEXT" *ngIf="!isSalesOnBeHalf && !isOciFlow" customClass="btn btn-primary highlight"
                                [disabled]="!cartQuantity || miniBasketLoading || isDemoCustomer || isOciFlow || !allowOrderReview || hasItemNotAllowToAddToShoppingCart"
                                (isClicked)="gotoOrder($event)">
                </connect-action>
            </ng-container>
        </div>
        <div class="mini-basket-content mini-basket-content--control justify-content-between"
             *ngIf="isSalesOnBeHalf && !isCz &&!isSB">
            <connect-action icon="fa-chevron-right" text="SHOPPING_BASKET.CREATE_AX_OFFER"
                            [disabled]="!cartQuantity || miniBasketLoading || isDemoCustomer || hasItemNotAllowToAddToShoppingCart"
                            (isClicked)="handleCreateOffer($event)">
            </connect-action>
            <connect-action icon="fa-chevron-right" text="SHOPPING_BASKET.TXT_TRANSFER_BASKET"
                            [disabled]="!cartQuantity || miniBasketLoading || isDemoCustomer || hasItemNotAllowToAddToShoppingCart"
                            (isClicked)="transferBasket($event)">
            </connect-action>
        </div>
    </div>
</ng-template>
