.margin-article-group-default {
    .name {
        max-width: 10%;
        width: 10%;
    }

    .des {
        max-width: 20%;
        width: 20%;
    }

    .margin-col {
        max-width: 5%;
        width: 5%;
    }

    .margin-action {
        min-width: 65px;
    }
}