.brand-sorting-hint-text {
    display: none;
}

.view-all-location {
    background-color: #c1c1c1;
    padding: 2px;
    font-size: 10px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
}