.forgot-password-page {
    padding-top: 6rem;
    width: 800px;
    margin: 0 auto;

    label {
        font-size: 14px;
        font-weight: 700;
    }

    .btn-link {
        i {
            font-weight: 700;
            margin-right: 10px;
            font-size: 18px;
        }
    }
}

.intro {
    font-size: 16px !important;
}

.customer-info {
    font-size: 14px !important;
}
