.saved-basket {
    position: relative;
    height: 36px;
    display: block;

    i.saved-basket-icon {
        font-size: 28px;
        color: $primary-font;
    }

    .saved-basket-badge {
        position: absolute;
        bottom: 1px;
        height: 12px;
        left: 0;
        width: 100%;
        background-color: $primary-font;
        color: $text-color-inversed;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 13px;
        font-size: 11px;
        font-weight: 500;
    }
}

.modal-delete-basket-item {
    sag-common-message {
        .message {
            text-align: center;
        }
    }
}
