.icon-checkall {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url(../assets/images/select-all.gif);
}

.fa-file-pdf-o {
    color: $pdf-color;
}

.fa-calendar {
    font-size: 16px;
}
