@font-face {
    font-family: "icomoon";
    src: url("../assets/iconmoon/icomoon.eot?37no4c");
    src: url("../assets/iconmoon/icomoon.eot?37no4c#iefix") format("embedded-opentype"),
        url("../assets/iconmoon/icomoon.ttf?37no4c") format("truetype"),
        url("../assets/iconmoon/icomoon.woff?37no4c") format("woff"),
        url("../assets/iconmoon/icomoon.svg?37no4c#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.moon-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sub-basket-icon {
    font-size: 3rem;

    &:before {
        content: "\e900";
    }
}