<!-- <sag-customer-info [isShownMemoInfo]="true" [isFromShoppingOrder]="false" *ngIf="isShowcustomerInformation"></sag-customer-info> -->
<!-- free text search -->
<div class="row vehicle-list">
    <div class="col-12 d-flex align-items-center">
        <h2 class="mr-3">{{'SEARCH.VEHICLE_SEARCH_TITLE' | translate}} </h2>
    </div>
    <div class="col-12">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm">{{total}}</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearFilter()">{{'SEARCH.REMOVE' |
                translate}}</button>
        </div>
    </div>
    <div class="col-12" *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
            {{'SEARCH.ERROR_MESSAGE.VEHICLE_NOT_FOUND' | translate}}
        </div>
    </div>
    <div class="col-12">
        <sag-table-list-search 
        [columns]="columns"
        [sort]="sort"
        [searchModel]="searchModel"
        [result]="vehicles"
        [isFetching]="isFetching"
        [queryParams]="queryParams"
        (sortDataEvent)="sortData($event)"
        (filterFullNameEvent)="filterFullName()"
        (optionSelectedEvent)="optionSelectedEvent()"
        (fetchMoreVehiclesEvent)="fetchMoreVehicles($event)"
        (filteringDataEvent)="filteringData($event)">
        </sag-table-list-search>
    </div>
</div>