<div class="nav article-list-header connect-shopping-order-part-header-sb">
    <div class="header-col header-description">
        {{'SEARCH.ARTICLE_DESC' | translate}}
    </div>
    <div class="header-col header-delivery">
        {{'ARTICLE.DELIVERY' | translate}}
    </div>
    <div class="header-col header-quality">
        {{'ARTICLE.AMOUNT' | translate}}
    </div>
    <div class="header-col header-deliver-warehouse text-center">
        {{'ARTICLE.DELIVERY_WAREHOURSE' | translate}}
    </div>
</div>