<div class="modal-header">
    <h4>{{root?.artnrDisplay}} - {{'COMMON_LABEL.ACCESSORIES' | translate}}</h4>
    <a href="javascript:void(0)" (click)="bsModalRef.hide()"><i class="fa fa-times-circle close"></i></a>
</div>
<div class="modal-body modal-lg pb-0">
    <sag-common-message *ngIf="notifier" [data]="notifier"></sag-common-message>
    <sag-article-list-header
        [articleListType]="articleListType"
        [userSetting]="userService.userPrice"
        (currentNetPriceChange)="onCurrentNetPriceChange()"
        [(articleMode)]="appStorage.articleMode"
        [disableSort]="true">
    </sag-article-list-header>
    <section class="card card-body p-0 border-0">
        <sag-article-list-non-group
            [rootArticles]="[root]"
            [notFoundTempRef]="notFoundTemplate"
            [articleMode]="appStorage.articleMode"
            [userSetting]="userService.userPrice"
            [specialInfoTemplateRef]="specialInfoTemplateRef"
            [memosTemplateRef]="memosTemplateRef"
            [customAvailTemplateRef]="availTemplateRef"
            [customAvailPopoverContentTemplateRef]="popoverContentTemplateRef"
            [priceTemplateRef]="priceTemplateRef"
            [totalPriceTemplateRef]="totalPriceTemplateRef"
            [isSubBasket]="isSubBasket"
            [isAccessoryItem]="true"
            [vehicle]="vehicle"
            [category]="category"
            [rootModalName]="rootModalName"
            (onArticleNumberClickEmitter)="onArticleNumberClick($event)"
            (onShowAccessoriesEmitter)="onShowAccessories($event)"
            (onShowPartsListEmitter)="onShowPartsList($event)"
            (onShowCrossReferenceEmitter)="onShowCrossReference($event)"
            (popoversChanged)="popoversChanged($event)"
            (sendArticlesGaData)="onSendArticlesGaData($event)"
            >
        </sag-article-list-non-group>
        <ng-container *ngFor="let group of groups">
            <div class="cate-group">
                <div class="cate-group-header flex-column align-items-start">
                    <div class="group-list-text">{{group.accesoryListsText}}</div>
                    <div class="group-link-text" *ngIf="group.accessoryLinkText">{{group.accessoryLinkText}}</div>
                    <div class="group-hint-text font-weight-normal">seqNo: {{group.seqNo}}</div>
                </div>
                <sag-article-list-non-group
                    [rootArticles]="group?.values"
                    [hasMoreData]="group?.moreValues?.length > 0"
                    (showMoreArticleEmitter)="showMoreArticles(group?.seqNo, $event)"
                    [notFoundTempRef]="notFoundTemplate"
                    [articleMode]="appStorage.articleMode" [userSetting]="userService.userPrice"
                    [specialInfoTemplateRef]="specialInfoTemplateRef"
                    [memosTemplateRef]="memosTemplateRef"
                    [customAvailTemplateRef]="availTemplateRef"
                    [customAvailPopoverContentTemplateRef]="popoverContentTemplateRef"
                    [priceTemplateRef]="priceTemplateRef"
                    [totalPriceTemplateRef]="totalPriceTemplateRef"
                    [isSubBasket]="isSubBasket"
                    [enableRequestAvail]="false"
                    [isAccessoryItem]="true"
                    [vehicle]="vehicle"
                    [rootModalName]="rootModalName"
                    (onArticleNumberClickEmitter)="onArticleNumberClick($event)"
                    (onShowAccessoriesEmitter)="onShowAccessories($event)"
                    (onShowPartsListEmitter)="onShowPartsList($event)"
                    (onShowCrossReferenceEmitter)="onShowCrossReference($event)"
                    (popoversChanged)="popoversChanged($event)"
                    >
                </sag-article-list-non-group>
            </div>
        </ng-container>
        <div *ngIf="moreGroups?.length" class="d-flex justify-content-center mt-3">
            <sag-common-save-button (save)="showMoreGroups($event)" text="SEARCH_RESULT.LOAD_MORE"></sag-common-save-button>
        </div>
    </section>
</div>

<ng-template #notFoundTemplate>
    <section class="alert alert-danger">
        {{ 'SEARCH.ERROR_MESSAGE.ARTICLE_NOT_FOUND' | translate }}
    </section>
</ng-template>

<ng-template #specialInfoRef let-article="article">
    <connect-cz-article-detail-special-info [article]="article" [memos]="article?.memos"></connect-cz-article-detail-special-info>
</ng-template>

<ng-container *ngIf="isCz || isAffiliateApplyFgasAndDeposit">
    <ng-template #memosRef let-article="article">
        <connect-cz-article-detail-memos [memos]="article?.memos" [article]="article"></connect-cz-article-detail-memos>
    </ng-template>
</ng-container>

<ng-container *ngIf="isCz">
    <ng-template #availRef let-availabilities="availabilities" let-popover="popover">
        <div class="avail-state avail-state-{{availabilities[0]?.availState}}">
            {{'ARTICLE.AVAILABILITY.' + czAvailState[availabilities[0]?.availState] | translate}}
        </div>
    </ng-template>

    <ng-template #popoverContentRef let-article="article" let-currency="currency">
        <connect-cz-avail-popover-content [article]="article" [currency]="currency"></connect-cz-avail-popover-content>
    </ng-template>

    <ng-template #priceRef let-article="article" let-currentStateVatConfirm="currentStateVatConfirm">
        <div class="part-col part-gross">
            <connect-cz-article-detail-price [article]="article" [type]="czPriceType.LIST_PRICE"
            [currentStateVatConfirm]="currentStateVatConfirm"></connect-cz-article-detail-price>
        </div>
        <div class="part-col part-net">
            <connect-cz-article-detail-price [article]="article" [type]="czPriceType.CUSTOMER_PRICE"
            [currentStateVatConfirm]="currentStateVatConfirm"></connect-cz-article-detail-price>
        </div>
    </ng-template>

    <ng-template #totalPriceRef let-article="article" let-currentStateVatConfirm="currentStateVatConfirm">
        <connect-cz-article-detail-total-price [article]="article" [currentStateVatConfirm]="currentStateVatConfirm"></connect-cz-article-detail-total-price>
    </ng-template>
</ng-container>