<footer class="d-flex align-items-center">
    <div class="container text-white">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="copy">&copy; Swiss Au­to­mo­tive Group - 2017</span>
            </div>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Terms and Conditions</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Disclaimer</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="env-version text-right px-3">
            {{buildEnv}} {{'APP_VERSION' | translate}}: {{version}}
        </div>
    </div>
</footer>