<form [formGroup]="userSettingForm" class="form-check user-config-form">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <sag-common-message *ngIf="result" [data]="result"></sag-common-message>
            </div>
        </div>
        <h6 class="row">{{'SETTINGS.SETTING.BILL_SHOW'|translate}}</h6>
        <div class="row ml-2" *sagCommonShowHideByAff="[sb];show:false">
            <div class="form-group form-check col-md-6">
                <input class="form-check-input" type="checkbox" id="viewBilling" formControlName="viewBilling">
                <label class="form-check-label" for="viewBilling">{{ 'SETTINGS.SETTING.BILLS'|translate }}</label>
            </div>
            <div class="form-group form-check col-md-6">
                <input class="form-check-input" type="checkbox" id="netPriceView" formControlName="netPriceView">
                <label class="form-check-label" for="netPriceView">{{ 'SETTINGS.SETTING.NET_PRICE'|translate }}</label>
            </div>
        </div>
        <div class="row ml-2" *sagCommonShowHideByAff="[sb];show:false">
            <div class="form-group form-check offset-md-6 col-md-6">
                <input class="form-check-input" type="checkbox" id="netPriceConfirm" formControlName="netPriceConfirm">
                <label class="form-check-label" for="netPriceConfirm">
                    {{ 'SETTINGS.SETTING.NET_PRICE_EMAIL'|translate }}
                </label>
            </div>
        </div>

        <ng-container  *sagCommonShowHideByAff="[cz,ehcz,axcz,ehaxcz,sb];show:false">
            <h6 class="row">{{'SETTINGS.SETTING.CATEGORY_VIEW_MODE.TEXT'|translate}}</h6>
            <div class="row ml-2">
                <div class="form-group form-check col-md-6">
                    <input class="form-check-input" name="classicCategoryView" type="radio" id="viewClassic"
                        formControlName="classicCategoryView" value="true"
                        [checked]="userSetting.classicCategoryView === true">
                    <label class="form-check-label" for="viewClassic">
                        {{ 'SETTINGS.SETTING.CATEGORY_VIEW_MODE.CLASSIC' | translate }}
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <input class="form-check-input" name="classicCategoryView" type="radio" id="viewTree"
                        formControlName="classicCategoryView" value="false"
                        [checked]="userSetting.classicCategoryView === false">
                    <label class="form-check-label" for="viewTree">
                        {{ 'SETTINGS.SETTING.CATEGORY_VIEW_MODE.TREE' | translate }}
                    </label>
                </div>
            </div>
        </ng-container>

        <ng-container  *sagCommonShowHideByAff="[cz,ehcz,axcz,ehaxcz];show:true">
            <h6 class="row">{{'SETTINGS.SETTING.CATEGORY_VIEW_MODE.TEXT'|translate}}</h6>
            <div class="row ml-2">
                <div class="form-group form-check col-md-6">
                    <input class="form-check-input" name="singleSelectMode" type="checkbox" id="singleSelect"
                        formControlName="singleSelectMode"
                        [checked]="userSetting.singleSelectMode">
                    <label class="form-check-label" for="singleSelect">
                        {{ 'SETTINGS.SETTING.SINGLE_SELECT_MODE' | translate }}
                    </label>
                </div>
            </div>
        </ng-container>

        <h6 *sagCommonShowHideByAff="[sb];show:false" class="row">{{'SETTINGS.SETTING.PAYMENT_DELIVERY'|translate}}</h6>
        <div class="row ml-2">
            <div class="form-group form-check col-md-6">
                <input class="form-check-input" type="checkbox" id="emailNotif" formControlName="emailNotificationOrder"
                    [checked]="userSetting.emailNotificationOrder">
                <label class="form-check-label" for="emailNotif">
                    {{ 'SETTINGS.SETTING.EMAIL_CONFIRMATION'|translate }}
                </label>
            </div>
        </div>
    </div>

    <connect-order-conditions *ngIf="!userDetail?.isFinalUserRole" [parentForm]="userSettingForm"
        [paymentSettings]="userPaymentSettings" [userSetting]="userSetting"
        (newPaymentMethodEmitter)="updatePaymentMethod($event)"
        class="user-order-conditions">
    </connect-order-conditions>
    <div class="text-center mt-3">
        <sag-common-save-button [loading]="isUpdating" (save)="onSubmit()" [disabled]="userDetail?.isSalesOnBeHalf"></sag-common-save-button>
    </div>
</form>