<div class="col col-3">
    <nav class="sub-menu">
        <li>
            <a id="sub-menu-item-1" routerLink="/administration/change-password" routerLinkActive="active">
                {{'ADMIN.PROFILE' | translate}}
            </a>
        </li>
    </nav>
</div>
<div class="col col-9">
    <div class="panel panel-primary card mb-4">
        <div class="panel-heading">
            <h3 class="panel-title">{{'USER_MANAGEMENT.USER_DETAIL.PASSSWORD_TITLE' | translate}}</h3>
        </div>
        <div class="panel-body">
            <form *ngIf="profilePasswordForm" novalidate [formGroup]="profilePasswordForm" class="form-horizontal"
                autocomplete="off">
                <div class="form-group row">
                    <label for="user-password" class="col-3 control-label">
                        {{'USER_MANAGEMENT.USER_DETAIL.NEW_PASSWORD' | translate}}*
                    </label>
                    <div class="col-4">
                        <input formControlName="pass1" placeholder="*******" type="password"
                            class="form-control form-sm" autocomplete="off">
                        <control-messages [control]="profilePasswordForm.controls.pass1"></control-messages>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user-confirm-password" class="col-3 control-label">
                        {{'USER_MANAGEMENT.USER_DETAIL.CONFIRM_PASSWORD' | translate}}*
                    </label>
                    <div class="col-4">
                        <input formControlName="pass2" placeholder="*******" type="password"
                            class="form-control form-sm" autocomplete="off">
                        <control-messages [control]="profilePasswordForm"></control-messages>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-3 col-4">
                        <button type="button" [disabled]="!profilePasswordForm.valid" class="btn btn-primary"
                            (click)="updatePassword()">
                            {{'BUTTON.SAVE' | translate}}
                        </button>
                    </div>
                </div>
                <notification [notifier]="notifierPassword"></notification>
            </form>
        </div>
    </div>
</div>
