<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
	    .block-content {
	        margin-top:15px;
	        margin-bottom:15px;
	    }
	</style>
</head>
<body>
	<!-- topic -->
	<div th:if="${data.topic != null}" class="block-content">
		<div th:text="${data.topic.title}" style="font-weight: bold" ></div>
		<div th:utext="${data.topic.topic}"></div>
	</div>

	<!-- user data -->
	<div th:if="${data.userData != null}" class="block-content">
			<div th:text="${data.userData.title}" style="font-weight: bold" ></div>
			<div th:utext="${data.userData.content}"></div>
	</div>

	<!-- user info -->
	<div th:if="${data.userInfo != null}" class="block-content">
		<div th:text="${data.userInfo.title}" style="font-weight: bold" ></div>
		<div th:utext="${data.userInfo.content}"></div>
	</div>

	<!-- message -->
	<div  th:if="${data.message != null}" class="block-content">
			<div th:text="${data.message.title}" style="font-weight: bold"></div>
			<div th:text="${data.message.content}"></div>
	</div>

	<!-- technical data -->
	<div th:if="${data.technicalData != null}" class="block-content">
			<div th:text="${data.technicalData.title}" style="font-weight: bold"></div>
			<div th:utext="${data.technicalData.content}">
			</div>
	</div>

</body>
</html>