<div class="mt-3 offer-articles-table">
    <sag-table mode="online" [columns]="columns" (searchData)="searchTableData($event)"
        [notFoundText]="notFoundText">
    </sag-table>
    <div class="text-right border-top pt-3">
        <button class="btn btn-primary" (click)="createArticle()" data-automation="offer-article-create">
            <i class="fa fa-plus mr-2"></i>
            {{(isArticleType() ? 'OFFERS.OWN_ARTICLE.CAPTURE_NEW_ARTICLE' : 'OFFERS.OWN_WORK.CAPTURE_NEW_WORK') | translate}}
        </button>
    </div>
</div>
<ng-template #colActions let-row="row">
    <div class="d-flex align-items-center">
        <i class="fa fa-edit btn-icon mr-3" (click)="editArticle(row)"></i>
        <i class="fa fa-trash btn-icon" (click)="deleteArticle(row)"></i>
    </div>
</ng-template>