<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Forgot password Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div>
    <p th:text="#{mail.sag.welcome}">Welcome to SAG System!</p>
    <p th:text="#{mail.forgot_password.admin.header}"></p>
    <span style="font-weight: bold" th:text="#{mail.create.user.username}">Username</span>
    <span style="font-weight: bold" th:text="${username}">Username is here</span>
    <br/>
    <span style="font-weight: bold" th:text="${newPassword}">New password is here</span>
    <br/>
    <p th:text="#{mail.forgot_password.thanks}"></p>
    <p th:text="#{mail.create.user.signature}"></p>
    <a th:href="${redirectUrl}" th:text="${redirectUrl}"></a>
    <p th:if="${isFinalUser == true}" th:text="#{mail.create.user.noreply}" style="font-style: italic;"> Note: Please DO NOT respond to this automatic message</p>
  </div>
</body>
</html>
