<div class="modal-header">
    <h4>{{document.name}}</h4>
    <a href="javascript:void(0)" (click)="close()"><i class="fa fa-times-circle close"></i></a>
</div>
<div class="modal-body modal-lg">
    <div class="content">
        <div *ngIf="document.summary" class="summary">{{document.summary}}</div>
        <div *ngIf="document.content" class="markdown-format" [innerHTML]="document.content | marked | safe: 'html'"></div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <div>
            <span *ngIf="!document.accepted"><strong>{{'LEGAL_TERM.DAYS_LEFT_INFO' | translate: {value: document.daysLeft} }}</strong></span>
        </div>
        <label class="checkbox">
            <input class="form-check-input" type="checkbox" [(ngModel)]="isAccepted" [disabled]="document.accepted">
            <span class="ml-1"><strong>{{'LEGAL_TERM.AGREEMENT' | translate }}</strong></span>
        </label>
    </div>
    <div class="text-right mt-2 color-primary font-weight-bold">
        <a href="{{document.pdfUrl}}" target="_blank">
            <span>{{'LEGAL_TERM.PRINTABLE_VERSION' | translate}}</span>
            <i class="fa fa-chevron-right ml-2"></i>
        </a>
    </div>
    <div *ngIf="errorMessage" class="mt-3">
        <sag-common-message [message]="errorMessage" type="ERROR"></sag-common-message>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <div>
        <button type="button" class="btn btn-primary" (click)="close()">{{ 'COMMON_LABEL.ABORT' | translate }}</button>
    </div>
    <div>
        <button *ngIf="!document.accepted" [disabled]="!isAccepted" type="button" class="btn btn-primary" (click)="accept()">{{ 'COMMON_LABEL.ACCEPT' | translate }}</button>
    </div>
</div>