.advertise-container {
    background-color: #d9dada;
    width: 100%;
    height: 100%;
}

iframe.main-search-page-ads {
    // transform: translateY(-60px);
}

iframe.top-right-ads {
    // height: 221px;
    // transform: translateY(-60px);
    height: 100%;
}