<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" status="debug">
    <appenders>
        <console name="CONSOLE" target="SYSTEM_OUT">
            <patternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level %logger{36} - %msg%n"/>
        </console>
        <file name="FILE" fileName="logs/sag-batch.log">
            <patternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level %logger{36} - %msg%n"/>
        </file>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="info" additivity="false">
            <appenderRef ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.SQL" level="info" additivity="false">
            <appenderRef ref="CONSOLE"/>
        </logger>
    </loggers>
</configuration>
