<div>
    <tabset>
        <tab heading="{{'BATTERIES.BATTERIES' | translate}}" class="p-3 border-left border-right border-bottom" id="app-battery-tab">
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'BATTERIES.VOLTAGES' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [(ngModel)]="models.voltage"
                        [items]="data.content.voltages"
                        (change)="onUpdateFilter(FIELDS.VOLTAGE)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-voltages">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center mr-3">{{ item.label | translate }}</div>
                                <div class="" *ngIf="item.img">
                                    <img [src]="item.img" />
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'BATTERIES.AMPERES' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [class.disabled]="models.isRangeAmpereHourCb"
                        [(ngModel)]="models.isRangeAmpereHourCb ? CONSTANT.SPACE : models.ampereHour"
                        [items]="data.content.ampere_hours"
                        (change)="onUpdateFilter(FIELDS.AMPERE_HOUR)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-ampere-hour">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.label | translate }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 offset-6 d-flex flex-column">
                    <div class="d-flex">
                        <input type="checkbox" name="ampere-hour-range-cb" id="ampere-hour-range-cb" data-automation="ampere-hour-range-cb" [(ngModel)]="models.isRangeAmpereHourCb" (ngModelChange)="onChangeIsRangeCb($event, FIELDS.AMPERE_HOUR)">
                        <label for="ampere-hour-range-cb" class="form-check-label ml-2">{{'RANGE_CHECKBOX' | translate}}</label>
                    </div>
                    <div class="mt-3" *ngIf="models.isRangeAmpereHourCb">
                        <connect-slider-bar-chart-container
                            [fullArrayDataUsedForRenderTemplate]="fullAmpeDataUsedForRenderTemplate"
                            [arrayDataUsedForChart]="ampeData"
                            [selectedHistoryData]="ampereHourHistoryData"
                            [primaryColor]="themeService.primaryColor"
                            [keyObj]="keyObj"
                            [loading]="isSliderAmpeDataLoading"
                            (sliderValueChange)="onSliderValueChange($event, FIELDS.AMPERE_HOUR)"
                        >
                        </connect-slider-bar-chart-container>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'COMMON_LABEL.LENGTH' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [class.disabled]="models.isRangeLengthCb"
                        [(ngModel)]="models.isRangeLengthCb ? CONSTANT.SPACE : models.length"
                        [items]="data.content.lengths"
                        (change)="onUpdateFilter(FIELDS.LENGTH)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-length">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.label | translate }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 offset-6 d-flex flex-column">
                    <div class="d-flex">
                        <input type="checkbox" name="length-range-cb" id="length-range-cb" data-automation="length-range-cb" [(ngModel)]="models.isRangeLengthCb" (ngModelChange)="onChangeIsRangeCb($event, FIELDS.LENGTH)">
                        <label for="length-range-cb" class="form-check-label ml-2">{{'RANGE_CHECKBOX' | translate}}</label>
                    </div>
                    <div class="mt-3" *ngIf="models.isRangeLengthCb">
                        <connect-slider-bar-chart-container
                            [fullArrayDataUsedForRenderTemplate]="fullLengthDataUsedForRenderTemplate"
                            [arrayDataUsedForChart]="lengthData"
                            [selectedHistoryData]="lengthHistoryData"
                            [primaryColor]="themeService.primaryColor"
                            [keyObj]="keyObj"
                            [loading]="isSliderLengthDataLoading"
                            (sliderValueChange)="onSliderValueChange($event, FIELDS.LENGTH)"
                        >
                        </connect-slider-bar-chart-container>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'COMMON_LABEL.WIDTH' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [class.disabled]="models.isRangeWidthCb"
                        [(ngModel)]="models.isRangeWidthCb ? CONSTANT.SPACE : models.width"
                        [items]="data.content.widths"
                        (change)="onUpdateFilter(FIELDS.WIDTH)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-width">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.label | translate }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 offset-6 d-flex flex-column">
                    <div class="d-flex">
                        <input type="checkbox" name="width-range-cb" id="width-range-cb" data-automation="width-range-cb" [(ngModel)]="models.isRangeWidthCb" (ngModelChange)="onChangeIsRangeCb($event, FIELDS.WIDTH)">
                        <label for="width-range-cb" class="form-check-label ml-2">{{'RANGE_CHECKBOX' | translate}}</label>
                    </div>
                    <div class="mt-3" *ngIf="models.isRangeWidthCb">
                        <connect-slider-bar-chart-container
                            [fullArrayDataUsedForRenderTemplate]="fullWidthDataUsedForRenderTemplate"
                            [arrayDataUsedForChart]="widthData"
                            [selectedHistoryData]="widthHistoryData"
                            [primaryColor]="themeService.primaryColor"
                            [keyObj]="keyObj"
                            [loading]="isSliderWidthDataLoading"
                            (sliderValueChange)="onSliderValueChange($event, FIELDS.WIDTH)"
                        >
                        </connect-slider-bar-chart-container>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'COMMON_LABEL.HEIGHT' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [class.disabled]="models.isRangeHeightCb"
                        [(ngModel)]="models.isRangeHeightCb ? CONSTANT.SPACE : models.height"
                        [items]="data.content.heights"
                        (change)="onUpdateFilter(FIELDS.HEIGHT)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-height">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{ item.label | translate }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 offset-6 d-flex flex-column">
                    <div class="d-flex">
                        <input type="checkbox" name="height-range-cb" id="height-range-cb" data-automation="height-range-cb" [(ngModel)]="models.isRangeHeightCb" (ngModelChange)="onChangeIsRangeCb($event, FIELDS.HEIGHT)">
                        <label for="height-range-cb" class="form-check-label ml-2">{{'RANGE_CHECKBOX' | translate}}</label>
                    </div>
                    <div class="mt-3" *ngIf="models.isRangeHeightCb">
                        <connect-slider-bar-chart-container
                            [fullArrayDataUsedForRenderTemplate]="fullHeightDataUsedForRenderTemplate"
                            [arrayDataUsedForChart]="heightData"
                            [selectedHistoryData]="heightHistoryData"
                            [primaryColor]="themeService.primaryColor"
                            [keyObj]="keyObj"
                            [loading]="isSliderHeightDataLoading"
                            (sliderValueChange)="onSliderValueChange($event, FIELDS.HEIGHT)"
                        >
                        </connect-slider-bar-chart-container>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'BATTERIES.CIRCUIT' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [(ngModel)]="models.interconnection"
                        [items]="data.content.interconnections"
                        (change)="onUpdateFilter(FIELDS.INTERCONNECTION)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-interconnection">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center mr-3">{{ item.label | translate }}</div>
                                <div class="" *ngIf="item.img">
                                    <img [src]="item.img" />
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <span class="label">{{'BATTERIES.TYPES_OF_POLE' | translate}}</span>
                </div>
                <div class="col-6">
                    <ng-select
                        class="ng-select-filter"
                        [(ngModel)]="models.typeOfPole"
                        [items]="data.content.typeOfPoles"
                        (change)="onUpdateFilter(FIELDS.TYPE_OF_POLE)"
                        [clearable]="false"
                        bindValue="value" data-automation="battery-dropdown-type-of-pole">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.label | translate }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center mr-3">{{ item.label | translate }}</div>
                                <div class="" *ngIf="item.img">
                                    <img [src]="item.img" />
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6 offset-6">
                    <div class="d-flex align-items-center">
                        <input class="mr-2" [(ngModel)]="models.withStartStop" (ngModelChange)="onUpdateFilter(FIELDS.WITH_START_STOP)" type="checkbox"
                            data-automation="battery-checkbox-with-start-stop" id="check-with-start-stop">
                        <label class="form-check-label" for="check-with-start-stop">
                            {{'BATTERIES.WITH_START_STOP' | translate}}
                        </label>
                    </div>
                    <div class="d-flex align-items-center mt-2">
                        <input class="mr-2" [(ngModel)]="models.withoutStartStop" (ngModelChange)="onUpdateFilter(FIELDS.WITHOUT_START_STOP)"
                            type="checkbox" data-automation="battery-checkbox-without-start-stop" id="check-without-start-stop">
                        <label class="form-check-label"  for="check-without-start-stop">
                            {{'BATTERIES.WITHOUT_START_STOP' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="my-3 border-bottom"></div>
            <div class="py-2">
                <div class="row">
                    <div class="col-12 form-group d-flex justify-content-between">
                        <button class="btn btn-secondary min-width-90-px"
                            (click)="onReset()" data-automation="battery-button-reset">{{'SEARCH.SEARCH_TYRES.RESET' | translate}}</button>
                        <sag-common-save-button
                            [disabled]="!data.viewArticles"
                            [loading]="loading"
                            [hideTextOnLoading]="true"
                            [css]="'btn-primary'"
                            [text]="('SEARCH.SEARCH_TYRES.SHOW_ALL_ARTICLES' | translate) + ' [ ' + (data.totalElements || 0) + ' ]'"
                            (save)="onSearch()"
                            name="battery-button-search">
                        </sag-common-save-button>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-secondary min-width-90-px" data-automation="battery-button-go-back"
                            [routerLink]="['/home']">{{'SEARCH_RESULT.BACK' | translate}}</button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
