@import './../../../../../../eshop-theme/sag-variables';

form {
    padding: 3 * $spacer;
    background-color: $background-color;

    .order {
        width: auto;
        margin: 0 20px;
        position: relative;
        background-color: $background-color;

        label {
            line-height: 30px;
            margin: 0;
            color: $grey;
        }

        &:before {
            content: '';
            position: absolute;
            border-left: 1px solid $light-grey;
            left: 50%;
            top: -10px;
            height: 15px;
        }

        &:after {
            content: '';
            position: absolute;
            border-left: 1px solid $light-grey;
            left: 50%;
            top: 25px;
            height: 15px;
        }
    }
}
