<form [formGroup]="passForgotForm" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
        <div class="col-12">
            <label class="text-primary">{{'LOGIN.LABEL.FORGOT_PASSWORD' | translate}}</label>
        </div>
        <div class="col-12">
            <sag-common-message *ngIf="errorMessageForgotPassword" [message]="errorMessageForgotPassword" [type]="'ERROR'"></sag-common-message>
        </div>
        <div class="col-12">
            <div class="d-flex">
                <input type="text" class="form-control" formControlName="inputEmail"
                    placeholder="{{'FORGOT_PASSWORD.LABEL.EMAIL' | translate}}*"
                    (keyup)="changeInputForgetPassword(true)">
                <div class="order">
                    <label id="lbl-forgotPasswordOrder">{{'FORGOT_PASSWORD.LABEL.OR' | translate}}</label>
                </div>
                <input type="text" class="form-control" formControlName="inputUsername"
                    placeholder="{{'LOGIN.LABEL.USER_NAME' | translate}}*" (keyup)="changeInputForgetPassword(false)">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <button class="btn btn-primary btn-center">
                <span>{{'COMMON_LABEL.BUTTON.CONTINUE' | translate}}</span>
            </button>
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-12">
            <a href="javascript:void(0)" (click)="gobackLoginEmitter.emit()" class="btn-link">
                <i id="icon-back2" class="text-primary fa fa-angle-left" aria-hidden="true"></i>
                <span>{{'SEARCH_RESULT.BACK'| translate}}</span>
            </a>
        </div>
    </div>
</form>