<form *ngIf="resetPasswordForm" role="form" novalidate [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()"
	autocomplete="off">
	<sag-common-message *ngIf="notifier" [data]="notifier"></sag-common-message>
	<div class="row mb-4">
		<div class="col-12 intro">{{'SETTINGS.PROFILE.PASSWORD_CHANGE.TITLE'| translate}}</div>
	</div>
	<div class="row form-group mb-4">
		<div class="col-6">
            <label for="newPassword"
                class="text-primary"
				name="newPassword">{{'SETTINGS.PROFILE.PASSWORD_CHANGE.NEW_PASSWORD'| translate}}</label>
			<input formControlName="newPassword" id="newPassword" name="newPassword" type="password"
				class="form-control" placeholder="*******" autocomplete="off">
			<sag-common-control-message [control]="resetPasswordForm.controls.newPassword">x
			</sag-common-control-message>
		</div>
	</div>
	<div class="row form-group mb-4">
		<div class="col-6">
            <label for="reenter"
                class="text-primary"
				id="lbl-reenter">{{'SETTINGS.PROFILE.PASSWORD_CHANGE.CONFIRM_PASSWORD'| translate}}</label>
			<input formControlName="confirmPassword" id="reenter" name="reenter" type="password" class="form-control"
				placeholder="*******" autocomplete="off">
			<sag-common-control-message [control]="resetPasswordForm">x</sag-common-control-message>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-6">
			<button [disabled]="!resetPasswordForm.valid"
				class="btn btn-primary btn-center">{{'COMMON_LABEL.SAVE'| translate}}</button>
		</div>
    </div>
    <div class="divider-border"></div>
	<div class="row">
		<div class="col-12">
			<div class="group-nav">
				<a id="link-back" class="btn-link text-primary" (click)="getBackState()">
					<i id="icon-back2" class="text-primary fa fa-angle-left"
						aria-hidden="true"></i>{{'SEARCH_RESULT.BACK'| translate}}
				</a>
			</div>
		</div>
	</div>
</form>