.opening-day-title {
    margin-top: 0;
    font-weight: bold;
    color: gray;
}

.create-btn-container {
    text-align: right;
    padding-right: 0;
}

.opening-day-empty-container {
    margin-right: -15px;
}

.opening-day-create-btn {
    margin-right: -15px;
}

.import-error {
    margin: 0;
}

.opening-upload-bar {
    height: 5px;
}

.import-modal-body {
    margin-bottom: 20px;
}

.input-outer {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

label {
    display: flex;
    margin: 0;
}

input[type='file'] {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.browse-btn,
.file-text {
    line-height: 30px;
    height: 28px;
}

.file-text {
    flex: 1;
    padding: 0 5px;
    font-weight: normal;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.browse-btn {
    border-left: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
    background-color: #eee;
}
