button {
    font-size: 22px;
    margin-right: 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    outline: none !important;
    box-shadow: none !important;
    &.sale-view {
        top: -52px;
    }

    &.flash {
        animation: fadedLoad .6s linear;
        animation-iteration-count: 3;
    }
}


@keyframes fadedLoad {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}