.card-ads-item {
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-position: center;
    }

    ::ng-deep {
        iframe {
            width: 100%;

            &:not(:nth-child(1)) {
                display: none;
            }
        }
    }
}