<form [formGroup]="marginForm" novalidate>
    <div class="margin-brand-dialog">
        <div class="modal-header">
            <h4>{{ title | translate }}</h4>
            <a href="javascript:void(0)" (click)="close()"><i class="fa fa-times-circle close"></i></a>
        </div>
        <div class="modal-body">
            <sag-common-message *ngIf="msg" [data]="msg"></sag-common-message>
            <div class="card brand-block">
                <div class="card-header">
                    <connect-expanded title="{{'MARGIN_MANAGE.BRAND' | translate}}" [(expand)]="isBrandExpand">
                    </connect-expanded>
                </div>
                <div class="card-body" [hidden]="!isBrandExpand">
                    <sag-common-message *ngIf="errorMessage" [message]="errorMessage" type="ERROR"></sag-common-message>

                    <div class="form-group row d-flex align-items-center brand-search-container"
                        [class.justify-content-start]="editMode" [class.justify-content-between]="!editMode">

                        <label class="col-3 control-label">
                            {{'MARGIN_MANAGE.BRAND' | translate}}*
                        </label>
                        <div class="col-9">
                            <div class="row mr-0 brand-search-inner">
                                <div class="col-10 pl-0">
                                    <input class="form-control fill" formControlName="name" [attr.disabled]="editMode"
                                        placeholder="{{'MARGIN_MANAGE.BRAND' | translate}}" #searchInput
                                        (keyup.enter)="searchBrands()">
                                </div>
                                <div class="col-2 pl-0" *ngIf="!editMode">
                                    <sag-common-save-button text="SEARCH.SEARCH_BUTTON" btnType="submit"
                                        (save)="searchBrands($event)" css="btn-primary btn-search-brand"
                                        [hideTextOnLoading]="true" [(loading)]="isSearchFreeText">
                                    </sag-common-save-button>
                                </div>
                            </div>

                            <div class="w-100" [popover]="resultRef" #pop="bs-popover" triggers="manualy"
                                containerClass="brand-search-container" placement="bottom" [outsideClick]="true"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card margin-block mt-4">
                <div class="card-header">
                    <connect-expanded title="{{'MARGIN_MANAGE.MARGINS' | translate}}" [(expand)]="isMarginExpand">
                    </connect-expanded>
                </div>
                <div class="card-body" *ngIf="isMarginExpand">
                    <ng-container *ngFor="let item of margins">
                        <div class="form-group row d-flex align-items-center justify-content-start">
                            <label class="col-3 control-label">
                                {{'SETTINGS.GROUP' | translate}} {{item}}* (%)
                            </label>
                            <div class="col-7 pl-0">
                                <div class="text-left">
                                    <connect-margin-input [form]="marginForm" [controlName]="'margin' + item"
                                        [className]="'w-100'">
                                    </connect-margin-input>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <button class="btn btn-primary btn-center mt-3" (click)="onSave()" [disabled]="marginForm.invalid">{{
                'COMMON_LABEL.SAVE' | translate }}</button>
        </div>
    </div>
</form>

<ng-template #resultRef>
    <ul class="list-group" (scroll)="onScroll($event)">
        <ng-container *ngFor="let brand of brands; let i=index">
            <li class="list-group-item">
                <a href="javascript:void(0)" class="inversed" (click)="onSelectBrandFromSearch(brand)">
                    <i class="fa fa-chevron-right"></i>
                    <span [innerHTML]="brand.suppname | safe: 'html'"></span>
                </a>
            </li>
            <ng-container *ngIf="i === (brands.length - 1)">
                <li class="list-group-item justify-content-center p-2">
                    {{brands.length}}
                    {{'AX_CONNECTION.OF' | translate}}
                    {{total}}
                    {{'MARGIN_MANAGE.BRANDS' | translate}}
                    <span class="loading-text  ml-2" *ngIf="isLoading">
                        {{'COMMON_LABEL.LOADING_MORE' | translate}}</span>
                </li>
            </ng-container>
        </ng-container>
    </ul>
</ng-template>