<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
	    .block-content {
	        margin-top:15px;
	        margin-bottom:15px;
	    }
	</style>
</head>
<body>
	<!-- header and topic -->
	<div>
			<p th:text="#{mail.feedback.department.welcome}"></p>
			<p th:text="#{mail.feedback.department.header(${data.defaultBranch})}"></p>
			<p style="font-weight: bold" th:if="${data.topic != null}" th:text="${data.topic.topic}"></p>
	</div>

	<!-- user data -->
	<div th:if="${data.userData != null}" class="block-content">
			<div th:text="${data.userData.title}" style="font-weight: bold" ></div>
			<div th:utext="${data.userData.content}"></div>
	</div>

	<!-- message -->
	<div  th:if="${data.message != null}" class="block-content">
			<div th:text="${data.message.title}" style="font-weight: bold"></div>
			<div th:text="${data.message.content}"></div>
	</div>

	<!-- technical data -->
	<div th:if="${data.technicalData != null}" class="block-content">
			<div th:text="${data.technicalData.title}" style="font-weight: bold"></div>
			<div th:utext="${data.technicalData.content}">
			</div>
	</div>

	<div class="block-content">
		<div th:text="#{mail.feedback.department.kind_regard}"></div>
		<div th:text="#{mail.feedback.department.team(${data.defaultBranch})}"></div>
	</div>
</body>
</html>