<section class="card">
    <section class="card-body">
        <sag-common-message *ngIf="result" [data]="result"></sag-common-message>
        <h5>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.TITLE'| translate}}</h5>
        <form novalidate [formGroup]="changePasswordForm">
            <section class="row form-group">
                <section class="form-group col-sm-4">
                    <label>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.OLD_PASSWORD'| translate}}*</label>
                    <input formControlName="oldPassword" placeholder="*******" type="password" class="form-control"
                        required>
                </section>
                <section class="form-group col-sm-4">
                    <label>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.NEW_PASSWORD'| translate}}*</label>
                    <input formControlName="newPassword" placeholder="*******" type="password" class="form-control"
                        [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').hasError('pattern')}" required>
                    <section class="invalid-feedback"
                        *ngIf="changePasswordForm.get('newPassword').errors?.pattern && (changePasswordForm.touched || changePasswordForm.dirty)">
                        {{ 'SETTINGS.PROFILE.PASSWORD_CHANGE.INVALID' | translate }}
                    </section>
                </section>
                <section class="form-group col-sm-4">
                    <label>{{'SETTINGS.PROFILE.PASSWORD_CHANGE.CONFIRM_PASSWORD'| translate}}*</label>
                    <input formControlName="confirmPassword" placeholder="*******" type="password" class="form-control"
                        [ngClass]="{'is-invalid': changePasswordForm.hasError('passwordNotMatch')}" required>
                    <section class="invalid-feedback"
                        *ngIf="changePasswordForm.errors?.passwordNotMatch && (changePasswordForm.touched || changePasswordForm.dirty)">
                        {{ 'SETTINGS.PROFILE.PASSWORD_CHANGE.NOT_MATCH' | translate }}
                    </section>
                </section>
            </section>
            <sag-common-save-button (save)="onSubmit($event)" [disabled]="isFormDisable || changePasswordForm.invalid" css="btn-primary btn-center"></sag-common-save-button>
        </form>

    </section>
</section>