<div class="modal-header">
    <h4>{{ "BRANCHES.BRANCH_DETAIL_FORM.TITLE" | translate }}</h4>
    <a href="javascript:void(0)" (click)="bsModalRef.hide()"><i class="fa fa-times-circle close"></i></a>
</div>
<div class="modal-body">
    <form [formGroup]="branchDetailForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group row">
            <div class="notice-panel alert"
                [ngClass]="{ 'alert-success': isCreatedSuccessful, 'alert-danger': isCreatedFail }"
                *ngIf="noticeMessage">
                {{ noticeMessage | translate }}
            </div>
        </div>
        <fieldset [disabled]="!isCreatedNewBranch">
            <div class="form-group row">
                <label class="col-2 control-label">
                    {{'BRANCHES.BRANCH_DETAIL_FORM.BRANCH_NUMBER_LABEL' | translate}}*
                </label>
                <div class="col-10" [ngClass]="{ 'has-error': isRequiredError(branchNumber) }">
                    <input #branchNumberInput required type="text" class="form-control" formControlName="branchNumber"
                        (input)="onInputChange($event.target.value, 'PASTED_BRANCH_NUMBER_FIELD')"
                        (keydown)="validateUserInput($event, 10, 'NUMBER_ONLY')"
                        (paste)="onPaste($event, 10, branchNumber, 'PASTED_BRANCH_NUMBER_FIELD')">
                </div>
            </div>
            <ng-container *ngIf="isRequiredError(branchNumber); then branchErrorTemplate; else branchInvalidTemplate">
            </ng-container>
            <ng-template #branchErrorTemplate>
                <div class="alert alert-danger">
                    {{ requiredErrorMessage | translate }}
                </div>
            </ng-template>
            <ng-template #branchInvalidTemplate>
                <div class="alert alert-danger" *ngIf="isPastedBranchNumberInvalid">
                    {{ 'BRANCHES.ERRORS.INVALID_BRANCH_NUMBER' | translate }}
                </div>
            </ng-template>

        </fieldset>
        <fieldset [disabled]="!isCreatedNewBranch">
            <div class="form-group row">
                <label class="col-2 control-label">
                    {{'BRANCHES.BRANCH_DETAIL_FORM.BRANCH_CODE_LABEL' | translate}}*
                </label>
                <div class="col-10" [ngClass]="{ 'has-error': isRequiredError(branchCode) }">
                    <input required type="text" #branchCodeInput class="form-control" formControlName="code"
                        (keydown)="validateUserInput($event, 10, 'ALPHANUMBERIC')"
                        (paste)="onPaste($event, 10, branchCode)">
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="isRequiredError(branchCode)">
                {{ requiredErrorMessage | translate }}
            </div>
        </fieldset>

        <div class="row">
            <label class="col-2 offset-2 font-weight-bold">
                {{'BRANCHES.BRANCH_DETAIL_FORM.OPENING_HOUR_LABEL' | translate}}
            </label>
            <label class="col-2 font-weight-bold">
                {{'BRANCHES.BRANCH_DETAIL_FORM.NOON_OPENING_HOUR_LABEL' | translate}}
            </label>
            <label class="col-2 font-weight-bold">
                {{'BRANCHES.BRANCH_DETAIL_FORM.NOON_CLOSING_HOUR_LABEL' | translate}}
            </label>
            <label class="col-2 font-weight-bold">
                {{'BRANCHES.BRANCH_DETAIL_FORM.CLOSING_HOUR_LABEL' | translate}}
            </label>
        </div>
        <ng-container *ngFor="let day of dayInWeek">
            <div [formGroupName]="day">
                <div class="form-group row">
                    <label class="col-2 control-label">
                        {{'DAY_IN_WEEK.' +day.substr(0,3) | translate}}
                    </label>

                    <div class="col-2 time-picker-containter" [ngClass]="{ 'has-error': isOpeningTimeHasError(day) }">
                        <input type="text" #openingHourInput class="form-control" formControlName="openingTime"
                            (focus)="onDetectInputFocus('OPENING_HOUR', day)">
                        <span class="time-picker" (click)="onToggleTimePicker('OPENING_HOUR', day)"><i
                                class="fa fa-clock-o"></i></span>
                        <div class="time-picker-content" *ngIf="showingTimePickerCode === 'OPENING_HOUR.'+day" #openingTimeScroller>
                            <ul class="time-picker-list">
                                <li class="time-picker-item" *ngFor="let hour of hourList"
                                    (click)="onSetHour(hour, 'OPENING_HOUR',day)">
                                    {{ hour.formatText }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-2 time-picker-containter"
                        [ngClass]="{ 'has-error': isLunchOpeningTimeHasError(day)}">
                        <input type="text" class="form-control" formControlName="lunchOpeningTime"
                            (focus)="onDetectInputFocus('LUNCH_OPENING_HOUR', day)">
                        <span class="time-picker" (click)="onToggleTimePicker('LUNCH_OPENING_HOUR',day)"><i
                                class="fa fa-clock-o"></i></span>
                        <div class="time-picker-content" *ngIf="showingTimePickerCode === 'LUNCH_OPENING_HOUR.'+day">
                            <ul class="time-picker-list">
                                <li class="time-picker-item" *ngFor="let hour of hourList"
                                    (click)="onSetHour(hour, 'LUNCH_OPENING_HOUR',day)">
                                    {{ hour.formatText }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-2 time-picker-containter"
                        [ngClass]="{ 'has-error': isLunchClosingTimeHasError(day)  }">
                        <input type="text" class="form-control" formControlName="lunchClosingTime"
                            (focus)="onDetectInputFocus('LUNCH_CLOSING_HOUR',day)">
                        <span class="time-picker" (click)="onToggleTimePicker('LUNCH_CLOSING_HOUR',day)"><i
                                class="fa fa-clock-o"></i></span>
                        <div class="time-picker-content" *ngIf="showingTimePickerCode === 'LUNCH_CLOSING_HOUR.'+day">
                            <ul class="time-picker-list">
                                <li class="time-picker-item" *ngFor="let hour of hourList"
                                    (click)="onSetHour(hour, 'LUNCH_CLOSING_HOUR',day)">
                                    {{ hour.formatText }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-2 time-picker-containter" [ngClass]="{ 'has-error': isClosingTimeHasError(day)}">
                        <input type="text" #closingHourInput class="form-control" formControlName="closingTime"
                            (focus)="onDetectInputFocus('CLOSING_HOUR', day)">
                        <span class="time-picker" (click)="onToggleTimePicker('CLOSING_HOUR', day)"><i
                                class="fa fa-clock-o"></i></span>
                        <div class="time-picker-content" *ngIf="showingTimePickerCode === 'CLOSING_HOUR.'+day">
                            <ul class="time-picker-list">
                                <li class="time-picker-item" *ngFor="let hour of hourList"
                                    (click)="onSetHour(hour, 'CLOSING_HOUR', day)">{{ hour.formatText }}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="branchDetailForm?.invalid">{{'COMMON_LABEL.SAVE' |
                translate}}</button>
        </div>
    </form>
</div>