<div class="modal-user-form" tabindex="-1" role="dialog" id="userDetail">
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="isNewMode">{{'CUSTOMER.LICENSE.NEW_LICENSE_TITLE' | translate}}</h4>
        <h4 class="modal-title pull-left" *ngIf="!isNewMode">{{'CUSTOMER.LICENSE.EDIT_LICENSE_TITLE' | translate}}</h4>
        <i class="fa fa-times-circle close" data-dismiss="modal" aria-label="Close" (click)="closeThisModal()"
            aria-hidden="true">
        </i>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <form *ngIf="licenceForm" novalidate [formGroup]="licenceForm">
                <div class="form-group row">
                    <label for="license-type-create"
                        class="col-3 control-label">{{'CUSTOMER.LICENSE.LICENSE_TYPE' | translate}}</label>
                    <div class="col-6">
                        <ng-select class="sag-select" [items]="licenceTypes" *ngIf="licenceTypes"
                            notFoundText="{{ 'COMMON.NO_RESULT_FOUND' | translate }}" formControlName="licenceType"
                            (change)="selectLicenceType($event)" [clearable]="false">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date-from" class="col-3 control-label">{{'CUSTOMER.LICENSE.FROM' | translate}}</label>
                    <div class="col-6">
                        <div class="input-group">
                            <input class="form-control" angular-mydatepicker name="dateFrom"
                                [options]="datePickerFromSetting" #dpFrom="angular-mydatepicker"
                                [locale]="locale"
                                formControlName="fromDate" (dateChanged)="onFromDateChanged($event)"
                                (click)="dpFrom.toggleCalendar()" autocomplete="off" />
                            <div class="input-group-append pointer" (click)="dpFrom.toggleCalendar()">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date-to" class="col-3 control-label">{{'CUSTOMER.LICENSE.TO' | translate}}</label>
                    <div class="col-6">
                        <!-- <my-date-picker name="date-to" [options]="datePickerToSetting" (dateChanged)="onToDateChanged($event)"
              required formControlName="toDate"></my-date-picker> -->
                        <div class="input-group">
                            <input class="form-control" angular-mydatepicker name="dateTo"
                                [options]="datePickerToSetting" #dpTo="angular-mydatepicker" formControlName="toDate"
                                [locale]="locale"
                                (dateChanged)="onToDateChanged($event)" (click)="dpTo.toggleCalendar()"
                                autocomplete="off" />
                            <div class="input-group-append pointer" (click)="dpTo.toggleCalendar()">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quantity"
                        class="col-3 control-label">{{'CUSTOMER.LICENSE.QUANTITY' | translate}}</label>
                    <div class="col-6">
                        <input name="quantity" type="number" class="form-control" formControlName="quantity">
                        <div *ngIf="!licenceForm.controls.quantity.valid" class="alert alert-danger">
                            {{ 'CUSTOMER.LICENSE.QUANTITY_ERROR_MESSAGE' | translate}}</div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="errMessage" class="alert alert-danger">{{ 'CUSTOMER.LICENSE.SAVING_ERROR' | translate}}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"
            (click)="closeThisModal()">{{'COMMON.BUTTON.BACK' | translate}}</button>
        <button type="button" class="btn btn-primary" *ngIf="isNewMode"
            (click)="createCustomerLicense()">{{'COMMON.BUTTON.CREATE' | translate}}</button>
        <button type="button" class="btn btn-primary" *ngIf="!isNewMode"
            (click)="updateCustomerLicense()"><i class="fa fa-save"></i> {{'COMMON.BUTTON.SAVE' | translate}}</button>
    </div>
</div>